@import "~office-ui-fabric-react/dist/sass/References.scss";

.feedbacksection {
  width: 100%;
}
.feedbackbtn {
  display: flex;
  justify-content: end;
}
.modalAllignment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #0078d4;
}
